{
  "$schema": "http://json.schemastore.org/prettierrc",
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx", "*.sol", "*.json", "*.css"],
      "options": {
        "arrowParens": "avoid",
        "bracketSameLine": false,
        "bracketSpacing": true,
        "embeddedLanguageFormatting": "auto",
        "endOfLine": "auto",
        "jsxSingleQuote": true,
        "printWidth": 140,
        "proseWrap": "always",
        "quoteProps": "as-needed",
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "none",
        "useTabs": false
      }
    }
  ]
}
